body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    margin: 20px;
}

header {
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    padding: 10px;
}

main {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
}
